In [1]:
import pandas as pd
test_df = pd.read_csv("testData.csv")

In [2]:
# Sort by length
index = test_df["text"].str.len().sort_values(ascending=False).index
test_df = test_df.reindex(index)

In [3]:
# Remove English alphanumeric values
alpha_pat = "[a-zA-z0-9]"

test_df["text"] = test_df["text"].str.replace(alpha_pat, "", regex=True)

In [4]:
from transformers import pipeline
model_id = "iit-eight/checkpoint-36000/"
pipe = pipeline("text2text-generation", model=model_id, device=0)

Special tokens have been added in the vocabulary, make sure the associated word embeddings are fine-tuned or trained.

In [68]:
%%time
texts = test_df["text"].tolist()
ipas = pipe(texts, max_length=128, batch_size=16)
ipas = [ipa["generated_text"] for ipa in ipas]

CPU times: total: 516 ms
Wall time: 516 ms

In [69]:
ipas

['kɛmon ɐcʰo t̪umi!']

In [7]:
test_df

       row_id_column_name                                               text
13704               13704  এছাড়া চট্টগ্রাম-কক্সবাজার, ঢাকা-চট্টগ্রাম, রাঙ...
10739               10739  চ্যাম্পিয়ন হওয়া উদ্যোগগুলো হল- সেবা পদ্ধতি সহজ...
6971                 6971  মন্ত্রী বলেন, বর্তমানে বেসরকারি পর্যায়ে চিকিৎস...
11358               11358  শিল্প মন্ত্রণালয় এবং ইউরোপিয়ান ইউনিয়নের সহায়তা...
6527                 6527  ঘুরবতে বৈশাখী ভ্রমণ প্যাকেজে দার্জিলিং-মিরিককা...
...                   ...                                                ...
11180               11180                                       জয় ৪ ম্যাচে।
7867                 7867                                         আজ ৪ আষাঢ়।
11116               11116                                         ৫৯ জন আহত।
13549               13549                                         - একা একা।
3341                 3341                                           টাই : ১।

[27228 rows x 2 columns]

In [8]:
test_df["ipa"] = ipas
test_df = test_df.sort_index()
test_df.head()

,row_id_column_name,text,ipa
0,0,বিশেষ অতিথি এফএম ইকবাল বিন আনোয়ার (ডন) অ্যাডিশ...,"biʃeʃ ot̪it̪i epʰem ikbɐl bin ɐnoʷɐɾ ‘dɔn, ɛdi..."
1,1,এ নিয়ে বিবাদে ২০১৫ সালের ২ জুন রাত সাড়ে ১১টায় ...,e niʲe bibɐd̪e septembɔɾi sɐleɾ bɐ͡i̯ ɟun ɾɐt̪...
2,2,আজ থেকে ১৪ বছর আগে তিনি চলে গেছেন না ফেরার দেশে।,ɐɟ t̪ʰeke ʲcʰoɾ bɔcʰoɾ ɐge t̪ini cɔle gecʰen n...
3,3,নিহত ব্যক্তি কুতপালং টালের ই-২ ব্লকের আবুল বাছ...,nihɔt̪o bekt̪i kut̪pɐloŋ tɐleɾ i-e͡i̯ blokeɾ ɐ...
4,4,সংক্ষিপ্ত স্কোরশ্রীলংকা প্রথম ইনিংস ৪৮২ (করুনা...,ʃɔŋkkʰipt̪o skoɾɔsɾilŋkɐ pɾot̪ʰom iniŋʃo cɐ͡i̯...

In [9]:
test_df = test_df.drop('text', axis = 1)

In [10]:
test_df.to_csv("submission_jup_eightt_two.csv", index = None)